<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mon panier</title>
  </head>
  <body>
    <div id="cart">
      <%session.Carts.forEach(jeu => {%>
      <div>
        <h2>
          <%=jeu.Game.title%>
          <button @click="removeProduct(<%=jeu.id%>)">
            Supprimer
          </button>
        </h2>
        <p>Quantité : <%=jeu.quantity%></p>
      </div>
      <%});%>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/cart.js"></script>
  </body>
</html>
