<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet"/>
    <title>Connexion</title>
  </head>
  <body>
    <div id='login'>
      <div v-if='message'>
        <h2>{{ message }}</h2>
      </div>
      <!-- <div class='tgt-logo-div'>
        <img class='tgt-logo' src="/img/togames-together.png"/>
      </div> -->
      <form class='form'>
        <div class='img-glo'>
          <img class='img-gl'
          src="/img/google-96.svg"
          @click="externalLogin('this.googleProvider')"
          />
          <img class='img-fb'
          src="/img/facebook-96.svg"
          @click="externalLogin('this.facebookProvider')"
          />
        </div>
        <div class='inputs'>
          <input class='input-mail' type="email" v-model="mail" placeholder="Adresse mail" />
          <input class='input-pass' type="password" v-model="password" placeholder="Mot de passe" />
          <input class='connect-button' type="button" value="Se connecter" @click="login" />
        </div>
      </form>
    </div>
  </body>
  <script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-auth.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/js/login.js"></script>
</html>
