<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connexion</title>
  </head>
  <body>
    <div id="login">
      <div v-if="message">
        <h2>{{ message }}</h2>
      </div>
      <form>
        <input type="email" v-model="mail" placeholder="Adresse mail" />
        <input type="password" v-model="password" placeholder="Mot de passe" />
        <input type="button" value="Se connecter" @click="login" />
      </form>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/js/login.js"></script>
</html>
