// Values

// Colors
$fond: #061539;
$sombre: #061539;
$orange: #E14544;

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: $fond;
}

#login {
display: flex;
justify-content: center;
height: 100vh;
align-items: center;
flex-wrap: nowrap;
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .img-glo {
            
            .img-gl, .img-fb {
                height: 100px;
                width: 100px;
            }
        }

        .neumo{
            border-radius: 8px;
            border:none;
            background: $sombre;
            box-shadow:  15px 15px 26px #051231, 
                         -15px -15px 26px #071841;
        }


        .input-mail {
            color: $orange;
            width: 180px;
            height: 30px;
        }

        .input-pass {
            color: $orange;
            width: 180px;
            height: 30px;
        }
        
        .connect-button {  
            color: $orange;
            width: 180px;
            height: 36px;

        }
    }
}
