<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Mon panier</title>
  </head>
  <body>
    <div id="cart">
      <%session.Carts.forEach(jeu => {%>
      <div>
        <h2>
          <%=jeu.Game.title%>
          <button @click="removeProduct(<%=jeu.id%>)">
            Supprimer
          </button>
        </h2>
        <p>Quantité : <%=jeu.quantity%></p>
      </div>
      <%});%>
    </div>

    <div id="cart">
      <div class="home-logo">
        <img class="logo" src="/img/logo/togames-together.png" />
      </div>

      <nav class="navbar">
        <a href="/" class="nav">
          <p class="home">HOME</p>
        </a>
        <a href="/cart" class="nav">
          <p class="cart">SHOPPING CART</p>
        </a>
        <a href="/login" class="nav">
          <p class="login">LOGIN</p>
        </a>
        <a href="/register" class="nav">
          <p class="register">REGISTER</p>
        </a>
        <a href="/profile" class="nav">
          <p class="profile">PROFILE</p>
        </a>
        <!-- <input type="text" class="search" placeholder="Recherche"> -->
      </nav>

      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/cart.js"></script>
  </body>
</html>
