//Colors
$darkBlue: #182952;
$blue: #2b3595;
$purple: #7045af;
$pink: #e14594;

//Dimension
$height: 60px;

// Breakpoints
$xsmall: 370px;
$small: 700px;
$medium: 920px; // A faire
$large: 1400px; // A faire
$xlargem: 1920px;

body,
html {
  margin: 0;
  font-family: Monospace, sans-serif;
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url("//demosthenes.info/assets/images/polina.jpg") no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
input::placeholder,
input[type="date"] {
  color: white;
}
#logoUpPage {
  display: none;
}
#navbar {
  z-index: 5;
  background-color: $darkBlue;
  display: flex;
  align-items: center;
  height: $height;
  #logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    img {
      height: 30px;
      margin-left: 10px;
    }
    h1 {
      margin: 0;
      color: white;
      margin-left: 20px;
    }
  }
  nav {
    margin-left: auto;
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: white;
      margin-right: 20px;
    }
    .active {
      color: $pink;
    }
  }
}

@media screen and (max-width: $medium) {
  #logoUpPage {
    display: block;
    max-width: 100px;
    max-height: 100px;
    margin: 15px auto;
  }
  #navbar {
    background-color: $darkBlue;
    display: flex;
    align-items: center;
    height: $height;
    position: fixed;
    bottom: 0;
    width: 100%;
    #logo {
      display: none;
    }
    nav {
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      a {
        flex: 1;
        text-align: center;
        margin: 0;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
