<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/dist/register.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/a96fd4f5ef.js"
      crossorigin="anonymous"
    ></script>
    <title>Incription</title>
  </head>
  <body>
    <%- include('header.ejs') %>
    <video id="bgvid" playsinline autoplay muted loop>
      <source src="/img/background/background.mp4" type="video/mp4" />
    </video>
    <div id="register">
      <h1>inscription</h1>
      <div class="return-message" v-if="message">
        <h2 class="ret-message">{{ message }}</h2>
      </div>
      <div class="container">
        <div class="inputs">
          <label for="username">NOM D'UTILISATEUR</label>
          <input
            class="inputU"
            type="text"
            name="username"
            placeholder="Nom d'utilisateur"
            v-model="username"
          />
        </div>
      </div>
      <div class="container">
        <div class="inputs">
          <label for="password">MOT DE PASSE</label>
          <input
            class="passput"
            type="password"
            name="password"
            placeholder="Mot de passe"
            v-model="password"
          />
        </div>

        <div class="inputs">
          <label for="confirmPassword">CONFIRMATION MOT DE PASSE</label>
          <input
            class="confpassput"
            type="password"
            name="confirmPassword"
            placeholder="Confirmez le mot de passe"
            v-model="confirmPassword"
          />
        </div>
      </div>
      <div class="container">
        <div class="inputs">
          <label for="mail">ADRESSE MAIL</label>
          <input
            class="mailput"
            type="email"
            name="mail"
            placeholder="Adresse e-mail"
            v-model="mail"
          />
        </div>
        <div class="inputs">
          <label for="date-of-birth">DATE DE NAISSANCE</label>
          <input
            class="dateput"
            type="date"
            name="date-of-birth"
            placeholder="Date de naissance"
            v-model="dateOfBirth"
          />
        </div>
      </div>
      <div class="container">
        <div class="inputs">
          <button
            class="signup"
            type="button"
            @click="register"
            value="SIGN UP"
          >
            S'INSCRIRE
          </button>
        </div>
      </div>
    </div>
  </body>
  <script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-auth.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/js/register.js"></script>
</html>
